i#FATE-button:hover {
    color: #ff7171;
}
.fa-yin-yang:before {
    content: "\f6ad";
    color: indianred;
}
#chat-controls .chat-control-icon {
    flex: 0;
    flex-basis: auto;
}
i#FATE-button:hover {
    filter: saturate(0.5);
}